
###    This version is based on EspHoMaTriX version 2 (EHMTXv2) by LuBeDa. Thanks for that! That modified version is an 8x64 led matrix.    ###
###    rmt_led_strip and esp-idf. I used the latest ingredients. And I cleaned out the components that were unnecessary for me.   ###
###    This YAML contains Hungarian language translations!   ###
###    ESP = ESP32 DEVKIT     ###
###    GPIO32 = LED matrix    ###
###    GPIO33 = ADC sensor for screen brightness    ###
###    My matrix is ​​in a "serpentine" layout. If someone has a different type of matrix (e.g. Z-shaped), they will have to rewrite!   ###


substitutions:
  devicename: gf-led-matrix   # gf = ground floor
  friendly_name: GF LED matrix

external_components:
#  - source:
#      type: local
#      path: EspHoMatrix-64x8/components
#    components: [ehmtxv2]

  - source:
      type: git
      url: https://github.com/hollosipeti/EspHoMatrix-64x8
    refresh: 60s
    components: [ ehmtxv2 ]

esphome:
  comment: "Holly GF LED matrix 64x8"
  name: $devicename
  project:
    name: "LED.MATRIX"
    version: "2026.V.1.0.stable"
  on_boot:
    - priority: 600.0
      then:
        - lambda: |-
            id(rgb8x32)->set_display_off();
            id(rgb8x32)->set_brightness(30);                //set default brightness if you want
            id(rgb8x32)->set_weekday_color(100,200,100);    //set dow weekday color if you want
            id(rgb8x32)->set_today_color(255,100,100);      //set dow today color if you want

    - priority: -100.0
      then:
        - wait_until:
            condition:
              api.connected:
        - delay: 5s
        - lambda: |-
            id(rgb8x32)->set_display_on();

esp32:
  board: esp32dev
  cpu_frequency: 240MHz
  framework:
    type: esp-idf
    version: recommended
#    advanced:
#      ignore_efuse_custom_mac: true    

# Enable logging
logger:
  level: warn

# Enable Home Assistant API
api:
  custom_services: true

# Enable OTA
ota:
  - platform: esphome
    password: !secret ota_password
 
# WI-FI setup
wifi:
  networks:
  - ssid: !secret wifi_ssid_1
    password: !secret wifi_password
  - ssid: !secret wifi_ssid_2
    password: !secret wifi_password

  manual_ip:  #if you want
    static_ip: 192.168.24.96
    gateway: 192.168.24.1
    subnet: 255.255.255.0
    dns1: 8.8.8.8    #if you want required for time server
    dns2: 8.8.4.4    #if you want required for time server

# Set screen brightness
number:
  - platform: template
    name: "$devicename Brightness"
    id: screen_brightness
    min_value: 20
    max_value: 120    # at a higher value, it was too bright for me
    step: 10
    update_interval: 5s
    lambda: |-
      return id(rgb8x32)->get_brightness();
    set_action:
      lambda: |-
        id(rgb8x32)->set_brightness(x);

# Set light output
light:
  - platform: esp32_rmt_led_strip
    id: ehmtx_light
#    name: "$devicename Ledmatrix"
    rgb_order: GRB
    chipset: WS2812
    pin: GPIO32
    num_leds: 512   #for 8x64 screen
    color_correct: [50%, 50%, 50%]
    gamma_correct: 2.0
    restore_mode: ALWAYS_OFF

# Set led matrix parameters
display:
  - platform: addressable_light
    id: ehmtx_display
    addressable_light_id: ehmtx_light
    width: 64   #for 8x64 screen
    height: 8
#  My matrix is ​​in a "serpentine" layout. If someone has a different type of matrix (e.g. Z-shaped), they will have to rewrite this part!    
    pixel_mapper: |-
      if (x % 2 == 0) {
        return (x * 8) + y;
      }
      return (x * 8) + (7 - y);
    rotation: 0°
    update_interval: 32ms
#    auto_clear_enabled: true
    lambda: |-
      id(rgb8x32)->tick();
      id(rgb8x32)->draw();    

switch:
# Display on/off switch
  - platform: template
    name: "$devicename Display"
    id: displaycontrol
    icon: "mdi:power"
    restore_mode: ALWAYS_OFF
    lambda: |-
      return id(rgb8x32)->show_display;
    turn_on_action:
      lambda: |-
        id(rgb8x32)->set_display_on();
    turn_off_action:
      lambda: |-
        id(rgb8x32)->set_display_off();

# Auto brightness switch
  - platform: template
    name: "$devicename Auto Brightness"
    id: switch_autobrightness
    icon: mdi:brightness-auto
    restore_mode: ALWAYS_ON
    optimistic: True

# Night Mode witch
  - platform: template
    name: "$devicename Night Mode"
    id: night_mode_switch
    icon: "mdi:weather-night"
    restore_mode: RESTORE_DEFAULT_OFF
    lambda: |-
      return id(rgb8x32)->night_mode;
    turn_on_action:
      lambda: |-
        id(rgb8x32)->set_night_mode_on();
    turn_off_action:
      lambda: |-
        id(rgb8x32)->set_night_mode_off();

# Set time sensor NTP!
time:
  - platform: sntp
    id: ehmtx_time
    timezone: Europe/Budapest
    servers:
      - 0.hu.pool.ntp.org
      - 1.hu.pool.ntp.org
      - 2.hu.pool.ntp.org    

text_sensor:
  - platform: wifi_info
    ip_address:
      name: "WiFi IP Address"
      icon: 'mdi:ip'
    ssid:
      name: "WiFi Connected SSID"
      icon: 'mdi:wifi-settings'      

  - platform: uptime
    name: Uptime
    format:
      separator: " "
      days: "D"      

# combined text sensor for temp display
  - platform: template
    id: combined_temp_text
    update_interval: 20s
    lambda: |-
      float in_t = id(living_room_temp).state;
      float hum_t = id(living_room_humidity).state;
      char buf[32];
      if (isnan(in_t) || isnan(hum_t)) {
        return {"Ismeretlen"};
      } else {
        snprintf(buf, sizeof(buf), "%.1f° PÁRA: %.0f%%", in_t, hum_t);
        return {buf};
      }

# weather text sensor for weather display !!! You will need to enter your own sensors here !!!
  - platform: homeassistant
    id: weather_condition
    entity_id: weather.forecast_home

sensor:
# homeassistant living room temperature sensor !!! You will need to enter your own sensors here !!!
  - platform: homeassistant
    id: living_room_temp
    entity_id: sensor.living_room_temperature
# homeassistant living room humidity sensor !!! You will need to enter your own sensors here !!!
  - platform: homeassistant
    id: living_room_humidity
    entity_id: sensor.living_room_humidity
    accuracy_decimals: 0
# homeassistant weatherstation temperature sensor !!! You will need to enter your own sensors here !!!
  - platform: homeassistant
    id: weatherstation_temperature
    entity_id: sensor.weatherstation_temperature

# weather text sensors for weather displays
#  Páratartalom (Humidity)
  - platform: homeassistant
    id: weather_humidity
    entity_id: weather.forecast_home
    attribute: humidity

#  Szélsebesség (Wind Speed)
  - platform: homeassistant
    id: weather_wind_speed
    entity_id: weather.forecast_home
    attribute: wind_speed

#  Légnyomás (Pressure)
  - platform: homeassistant
    id: weather_pressure
    entity_id: weather.forecast_home
    attribute: pressure

# light sensor for auto brightness. It's wired to my resistor/sensor. They might need to adjust this.
  - platform: adc
    id: light_sensor
    name: "${devicename} Illuminance"
    pin: GPIO33
    update_interval: 2s
    attenuation: 12db
    device_class: illuminance
    unit_of_measurement: lx
    accuracy_decimals: 0
    filters:
      - calibrate_linear:
          - 0.17 -> 20
          - 2.4 -> 120
      - clamp:
          min_value: 20     # equals the minimum value of number
          max_value: 120    # equals the maximum value of number
    on_value:
      then:
        - if:
            condition:
              - switch.is_on: switch_autobrightness
            then:
              - number.set:
                  id: screen_brightness
                  value: !lambda "return x;"

font:
  - file: fonts/MatrixChunky6X.ttf
    id: default_font
    size: 6
    glyphs: |-
       !?"%()+*=,-_.:°0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ abcdefghijklmnopqrstuvwxyzÁÉÍÓÖŐÚÜŰáéíóöőúüű@<>ß€/

  - file: fonts/Silkscreen-Regular.ttf
    id: special_font
    size: 10
    glyphs: |-
       !?"%()+*=,-_.:°0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ abcdefghijklmnopqrstuvwxyzÁÉÍÓÖÚÜáéíóöúü@<>ß€/

ehmtxv2:
  id: rgb8x32
  icons2html: true
  matrix_component: ehmtx_display
  time_component: ehmtx_time
  time_format: "%H: %M"
  date_format: "%b.%d."
  show_seconds: false
#  show_dow: false
#  show_top_indicators: false
  default_font_id: default_font
  default_font_yoffset: 7
  special_font_id: special_font
  special_font_yoffset: 8
  scroll_interval: 80
  icons: 
    - id: error     # THIS SHOULD BE FIRST!
      lameid: 40530
    - id: attention
      lameid: 3531
    - id: battery100
      lameid: 6358      
    - id: clockicon
      lameid: 2325
    - id: calendarweek
      lameid: 10500
    - lameid: 20275
      id: temp
    - lameid: 5453
      id: bell
    - id: house
      lameid: 1299
    - id: gate_open
      lameid: 62452
    - lameid: 9272
      id: fire
    - lameid: 34801
      id: shopping
    - lameid: 37533
      id: thunder
    - lameid: 102
      id: birthday
    - lameid: 8660
      id: birthday2      
    - lameid: 1782
      id: xmastree
    - id: weather_clear_night
      lameid: 53383
    - id: weather_cloudy
      frame_duration: 192
      lameid: 25991
    - id: weather_exceptional
      lameid: 16754
    - id: weather_fog
      lameid: 52167
    - id: weather_hail
      lameid: 53288
    - id: weather_lightning
      lameid: 23713
    - id: weather_lightning_rainy
      lameid: 49299
    - id: weather_partlycloudy
      frame_duration: 210
      lameid: 22160
    - id: weather_pouring
      lameid: 49300
    - id: weather_rainy
      lameid: 26565
    - id: weather_snowy
      lameid: 2289
    - id: weather_snowy_rainy
      lameid: 49301
    - id: weather_sunny
      lameid: 11201
    - id: weather_windy
      lameid: 15618
    - id: weather_cloudy_night
      lameid: 12195
    - id: humidity_icon
      lameid: 53392
    - id: temperature
      lameid: 2056

# This section contains Hungarian language translations! I use the device in Hungary.
  on_empty_queue:
    then:
      - homeassistant.event:
            event: esphome.queue_finished
            data:
              status: idle    
      - lambda: |-
          static int page_counter = 0;
          id(rgb8x32)->icon_date_time_screen("calendarweek", 1, 8, true, 255, 255, 150);
          switch (page_counter) {
            
            case 0: // BENTI ADATOK
              if (!isnan(id(living_room_temp).state) && !isnan(id(living_room_humidity).state)) {       
                char indoor_buf[64];
                snprintf(indoor_buf, sizeof(indoor_buf), "%.1f° Pára: %.0f%%", id(living_room_temp).state, id(living_room_humidity).state);
                id(rgb8x32)->icon_text_screen("house", indoor_buf, 1, 5, true, 180, 180, 255);
              }
              break;

            case 1: // IDŐJÁRÁS SZÖVEGES
              if (id(weather_condition).has_state()) {
                  std::string w_state = id(weather_condition).state;
                  std::replace(w_state.begin(), w_state.end(), '-', '_');
                  std::string w_icon = "weather_" + w_state;
                  
                  std::string w_text = "Ismeretlen"; 
                  if (w_state == "sunny") w_text = "Napos idő";
                  else if (w_state == "clear_night") w_text = "Derűs éj";
                  else if (w_state == "partlycloudy") w_text = "Részben felhős";
                  else if (w_state == "cloudy") w_text = "Felhős idő";
                  else if (w_state == "fog") w_text = "Ködös idő";
                  else if (w_state == "rainy") w_text = "Esős idő";
                  else if (w_state == "pouring") w_text = "Zuhogó eső";
                  else if (w_state == "snowy") w_text = "Havazás";
                  else if (w_state == "snowy_rainy") w_text = "Havas eső";
                  else if (w_state == "hail") w_text = "Jégeső";
                  else if (w_state == "lightning") w_text = "Villámlás";
                  else if (w_state == "lightning_rainy") w_text = "Viharos";
                  else if (w_state == "windy") w_text = "Szeles";
                  else if (w_state == "windy_variant") w_text = "Szeles";
                  else if (w_state == "exceptional") w_text = "Riasztás";
                  
                  id(rgb8x32)->icon_text_screen(w_icon, w_text.c_str(), 1, 5, true, 255, 200, 255);
              }
              break;

            case 2: // KINTI ADATOK (Hő + Pára egyben)
              if (!isnan(id(weatherstation_temperature).state) && !isnan(id(weather_humidity).state)) {
                 char out_buf[64];
                 snprintf(out_buf, sizeof(out_buf), "Kint: %.1f° %.0f%%", id(weatherstation_temperature).state, id(weather_humidity).state);
                 id(rgb8x32)->icon_text_screen("temperature", out_buf, 1, 5, true, 255, 250, 100);
              }
              break;

            case 3: // SZÉL
              if (!isnan(id(weather_wind_speed).state)) {
                char wind_buf[32];
                snprintf(wind_buf, sizeof(wind_buf), "Szél: %.0f km/h", id(weather_wind_speed).state);
                id(rgb8x32)->icon_text_screen("weather_windy", wind_buf, 1, 5, true, 200, 200, 240);
              }
              break;
          }

          page_counter++;
          if (page_counter > 3) {
            page_counter = 0;
          }

  on_next_screen:
    - homeassistant.event:
        event: esphome.new_screen
        data_template:
          iconname: !lambda "return icon.c_str();"
          text: !lambda "return text.c_str();"
  on_expired_screen:
    - homeassistant.event:
        event: esphome.new_screen
        data_template:
          iconname: !lambda "return icon.c_str();"
          text: !lambda "return text.c_str();"
        
